.password-container{
    position: relative;
}
.eye-icon{
    position: absolute;
    bottom: 0.26rem;
    right: 1rem;
    cursor: pointer;
}
/* .login-container{
    width: 30vw;
    height: 50vh;
} */
/* @media (max-width:576px){
    .login-container{
        width: 70%;
        height: 60%;
    }
} */
