.sidebar-width{
    width: 15rem!important;
    background-color:white;
}
.sidebar-top-logo{
    height: 15vh;
}
.sidebar-top-logo img{
    height: 10rem;
    width: 10rem!important;
}
.sidebar-middle-links{
    height: 80vh;
}
.nav-link{
    color: #cecece!important;
    margin: .3rem 0;
}
.nav-link.active{
    background-color: #3087f0!important;
    color: white !important;
}